</div>
<div class="sticky-footer">
<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="sixteen wide column">
				<h4 class="ui inverted header">WeatherStation</h4>
				<p>Developed to learn web development!</p>
			</div>
		</div>
		<div class="ui inverted section divider" id="footer-hr"></div>
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="https://github.com/miikaheini" target="_blank"><i class="github icon"></i></a>
			<a class="item" href="https://twitter.com/n0madius" target="_blank"><i class="twitter icon"></i></a>
			<a class="item" href="https://www.linkedin.com/in/miika-heini" target="_blank"><i class="linkedin icon"></i></a>
      </div>
	</div>
</div>
</div>
</div>

</body>
</html>