<!DOCTYPE html>
<html>
<head>
	<title>WeatherStation</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body>

<div class="sticky-wrap">
	<div class="sticky-content">
		<div class="ui fixed menu">
			<div class="ui container">
				<div class="header item"><a href="/"><i class="thermometer half icon"></i>WeatherStation</a></div>
				<a href="/" class="item">Home</a>
				<div class="right menu">
					<a href="/about" class="item"><i class="question circle outline icon"></i></a>
				</div>
			</div>
		</div>

