:root {
	--image-segment-background: url(http://freedesignfile.com/upload/2017/06/London-city-skyline-vector.jpg);
}

.sticky-wrap{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container.main {
	margin-top: 4.0em;
}

.image.segment {
	background: var(--image-segment-background);
	background-size: cover;
	background-position: center;
	border-radius: inherit;
}

.image.segment.content {
	text-align: center;
	padding-top: 15%;
	padding-bottom: 3%;
	background: rgba(255,255,255,0.4);
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.image.segment.content h1 {
	font-size: 5em;
}

#clockbox {
	font-size: 2em;
}

.image.segment.content hr {
	width: 50%;
	border-top: 1px solid black;
}

.sticky-footer{
	margin-top: auto;
}

.ui.footer.segment {
	margin: 2em 0em 0em;
	padding: 1.5em 0em;
}

#footer-hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

.ui.horizontal.segments .ui.segment {
	max-width: 50%;
}

canvas {
	cursor:	crosshair;
}